 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #8a8080;
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('Beauty_park.jpg');
    /* background: url('Beauty_park.jpg') no-repeat center center/cover; */
    background:  cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero .subheadline {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #ff7f50;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #e76a3c;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: white;
}
.feature {
    text-align: center;
    max-width: 30%;
    /* min-width: 90%; */
}
.feature img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.feature p {
    font-size: 1em;
    color: #555;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: #ff7f50;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin: 10px 0;
}
.footer-copyright {
    font-size: 0.9em;
    margin-top: 20px;
}

@media  screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }
    .hero .subheadline {
        font-size: 1em;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        max-width: 90%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero .subheadline {
        font-size: 0.8em;
    }

    .cta-btn {
        padding: 10px 20px;
        font-size: 1em;
    }

    .feature h3 {
        font-size: 1.2em;
    }

    .feature p {
        font-size: 0.9em;
    }
    
}